#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 500px;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


// #bg-login {
//     background: url("assets/images/279643.webp") no-repeat center center fixed; 
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }
