<br>
<h2>Directorio de empleados</h2>
<br>
<div class="row">
    <div class="col-6">
        <input #input name="searchValue" (keyup)="searchEmployees(input.value)" name="search" type="search"
            placeholder="Buscar..." class="form-control">
    </div>
</div>
<br>

<ng-container *ngIf="loading">
    <div class="row">
        <div class="col text-center mt-5 mb-5">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!loading">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6">
            <div class="card mb-3" style="background-color: #FAFAFA;">
                <div class="row g-0">
                    <div class="col-md-3">
                        <div class="item"
                            style="align-items: center;margin-left: 15px;margin-top: 15px;margin-bottom: 15px;">
                            <img [src]="employee.image! | image" class="rounded-circle" alt="...">
                        </div>

                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-top: 10px;">{{employee.firstName}}
                                {{employee.lastName}},
                                {{employee.name}}</h5>
                            <p class="card-text">{{employee.job}}</p>
                            <p class="card-text" style="margin-top: -20px;"><small
                                    class="text-muted">{{employee.phone}}</small></p>
                            <p class="card-text" style="margin-top: -20px;"><small
                                    class="text-muted">{{employee.email}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>